<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Ini adalah sebuah aplikasi restoran sederhana"
    />
    <meta name="theme-color" content="#DB0000" />
    <title>Restaurant Open Code</title>
    <link rel="icon" href="./icon.png" type="image/x-icon" />
    <link rel="manifest" href="app.webmanifest" crossorigin="use-credentials" />
    <script
      src="https://kit.fontawesome.com/676d1da154.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header>
      <nav>
        <a href="#main" class="skip-to-content">Skip to content</a>
        <a href="#home" class="brand">
          <i class="fas fa-solid fa-code brand-logo"></i>
          <h1 class="brand-name">OpenCode</h1>
        </a>
        <div class="nav-menu">
          <button type="submit" class="nav-menu-btn">
            <i class="fas fa-solid fa-bars"></i>
          </button>
        </div>
        <ul class="navigation">
          <li>
            <a href="#home">Home</a>
          </li>
          <li>
            <a href="#favorite">Favorite</a>
          </li>
          <li>
            <a
              href="https://github.com/NaufalZaul"
              target="_blank"
              rel="noopener noreferrer"
              >About us</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <main>
      </div>
      <div>
        <div class="jumbotron">
          <div class="top-jumbotron">
            <h1 class="title-jumbotron">
              Variety of food and drink, you can choose here
            </h1>
            <p class="sub-title">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id
              adipisci laudantium consectetur iure ipsam vel sequi quibusdam
              obcaecati quisquam asperiores?
            </p>
          </div>
        </div>
      </div>

      <div id="main">
        <h1 class="title-menu">Favorite Menu In This Restaurant</h1>
        <div class="menu"></div>
      </div>
    </main>

    <footer>
      <div class="creator">
        <p>&#169; Copyright 2022</p>
        <p>Privacy Policy</p>
        <p>Created by Bang Opal &#9982;</p>
      </div>
      <div class="partners">
        <div class="foo-brand brand">
          <i class="fas fa-solid fa-code brand-logo"></i>
          <h1 class="brand-name">OpenCode</h1>
        </div>
        <i>OpenCode Company</i>
      </div>
    </footer>
  </body>
</html>
